<section class="sec-3">
  <!-- <div class="fl-15" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-15.svg" alt="" />
  </div>
  <div class="fl-16" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-16.svg" alt="" />
  </div>
  <div class="fl-17" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-17.svg" alt="" />
  </div> -->
  <div class="container">
    <div class="add-to-sc">
      <div class="row">
        <div
          class="col-md-9"
          [ngClass]="{
            'col-md-9': hostScreensize > 1300,
            'col-md-6': hostScreensize <= 1300 && hostScreensize > 1000,
            'col-md-12': hostScreensize <= 1000
          }"
        >
          <div class="cart-box">
            <div class="item-bx text-center" *ngIf="cartItems.length == 0">
              <img
                src="assets/img/delivery-img-inner.svg"
                class="mb-3"
                alt=""
              />
              <p>You haven’t added any items in bucket yet</p>
              <a href="/tabs/products">
                <button class="btn-prime">Explore Menu</button>
              </a>
            </div>
            <div class="cart-items-list" *ngIf="cartItems.length > 0">
              <div
                *ngFor="let item of cartItems; let i = index"
                class="d-flex flex-column gap-5"
              >
                <app-cart-item [item]="item" [cartIndex]="i"></app-cart-item>
                <div class="line=2143"></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-3"
          [ngClass]="{
            'col-md-3': hostScreensize > 1300,
            'col-md-6': hostScreensize <= 1300 && hostScreensize > 1000,
            'col-md-12': hostScreensize <= 1000
          }"
        >
          <div class="cart-box">
            <h3 class="mb-3">Order Details</h3>

            <div class="instructions">
              <p>Special Instructions (Optional)</p>
              <textarea
                name="notes"
                class="int-field"
                [(ngModel)]="notes"
              ></textarea>

              <div class="d-flex flex-column gap-2" *ngIf="user">
                <p>Your Name:</p>
                <p>{{ user?.name }}</p>
                <p>{{ user?.dial_code }} {{ user?.phone }}</p>
                <p>Alternate Phone Number (3XXXXXXXXX)</p>
                <app-phone-number-cnt
                  [phone_number]="phone"
                  [countryCode]="dial_code"
                  (udpatePhoneNumber)="udpatePhoneNumber($event)"
                  (updateDialCode)="updateDialCode($event)"
                ></app-phone-number-cnt>
                <!-- <input type="text" name="phone" placeholder="Phone" class="int-field" required [(ngModel)]="phone"
                  (ngModelChange)="onPhoneInput()" [maxlength]="14" (keyup)="keyupPh($event)" /> -->
              </div>

              <!-- Dropdown for Order Type -->
              <div class="mb-3">
                <label for="orderType">Select Order Type:</label>
                <select
                  id="orderType"
                  class="int-field"
                  [(ngModel)]="orderType"
                >
                  <option *ngFor="let type of orderTypes" [value]="type.value">
                    {{ type.label }}
                  </option>
                </select>
              </div>

              <div class="mb-3" *ngIf="orderType === 'delivery' && getUserRole() == 10">
                <label for="storedAddress">Your Addresses:</label>
                <select
                  id="paymentMethod"
                  class="int-field"
                  [(ngModel)]="address"
                  (ngModelChange)="onAddressChange($event)"
                >
                  <option *ngFor="let method of addresses" [value]="method.id">
                    {{ method.address }}
                  </option>
                </select>
              </div>

              <div class="mb-3" *ngIf="orderType === 'delivery'">
                <label for="deliveryAddress">Delivery Address:</label>
                <textarea
                  id="deliveryAddress"
                  name="deliveryAddress"
                  class="int-field"
                  placeholder="Enter your delivery address"
                  [(ngModel)]="deliveryAddress"
                ></textarea>
              </div>

              <div class="mb-3" *ngIf="orderType === 'delivery'">
                <label for="city">City:</label>
                <input
                  type="text"
                  id="city"
                  name="city"
                  class="int-field"
                  placeholder="Enter your city"
                  [(ngModel)]="city"
                />
              </div>

              <div class="mb-3" *ngIf="orderType === 'delivery'">
                <label for="state">State:</label>
                <input
                  type="text"
                  id="state"
                  name="state"
                  class="int-field"
                  placeholder="Enter your state"
                  [(ngModel)]="state"
                />
              </div>

              <div class="mb-3" *ngIf="orderType === 'delivery'">
                <label for="country">Country:</label>
                <input
                  type="text"
                  id="country"
                  name="country"
                  class="int-field"
                  placeholder="Enter your country"
                  [(ngModel)]="country"
                />
              </div>

              <!-- Dropdown for Payment Method -->
              <div class="mb-3">
                <label for="paymentMethod">Select Payment Method:</label>
                <select
                  id="paymentMethod"
                  class="int-field"
                  [(ngModel)]="paymentMethod"
                >
                  <option
                    *ngFor="let method of paymentMethods"
                    [value]="method.value"
                  >
                    {{ method.label }}
                  </option>
                </select>
              </div>
            </div>

            <div class="instructions">
              <h3>Your Order</h3>
              <ul>
                <li>
                  <div class="left-item">Sub Total :</div>
                  <div class="right-item">
                    ${{ carte.total_price | number : "1.2-2" }}
                  </div>
                </li>
                <li>
                  <div class="left-item">Delivery Fee :</div>
                  <div class="right-item">
                    ${{ deliveryFee || 0 | number : "1.2-2" }}
                  </div>
                </li>
                <li>
                  <div class="left-item">GST (0%) :</div>
                  <div class="right-item">
                    ${{ gstAmount || 0 | number : "1.2-2" }}
                  </div>
                </li>
              </ul>

              <div class="checkout-bar">
                <span
                  >{{ cartItems.length }} Items | ${{
                    carte.total_price | number : "1.2-2"
                  }}</span
                >
                <button (click)="makeOrder()">Check Out</button>
              </div>
            </div>
            <div class="instructions">
              <h3>Coupon</h3>

              <!-- Coupon Input Field -->
              <div class="coupon-section">
                <input
                  type="text"
                  [(ngModel)]="couponCode"
                  placeholder="Enter Coupon Code"
                  class="coupon-input"
                />
                <button (click)="applyCoupon()" class="apply-btn">Apply</button>
              </div>
              <ul>
                <li>
                  <div class="left-item">Discount :</div>
                  <div class="right-item">
                    - ${{ discountAmount || 0 | number : "1.2-2" }}
                  </div>
                </li>
                <li>
                  <div class="left-item">
                    <strong>Discounted Price :</strong>
                  </div>
                  <div class="right-item">
                    <strong>${{ final_total | number : "1.2-2" }}</strong>
                  </div>
                </li>
              </ul>

              <div class="checkout-bar">
                <button (click)="makeOrder()">Check Out</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
