<li>
  <!-- Product Image -->
  <!-- <div class="cart-img">
    <img [src]="item.products?.image" alt="{{ item.product?.name }}" />
  </div> -->

  <!-- Product Name and Quantity -->
  <div class="cart-name">
    {{ item.product_name }} x <span>{{ item?.quantity }}</span>
  </div>

  <!-- Product Variations -->
  <div *ngIf="item?.variations?.length > 0" class="cart-variations">
    <div *ngFor="let variation of item.variations">
      <p>
        <strong>{{ variation.type }}</strong>:
        <span *ngFor="let option of variation?.options">
          {{ option?.name }} (Rs {{ option?.price }})
        </span>
      </p>
    </div>
  </div>

  <!-- Product Price -->
  <div class="cart-price">Rs {{ item.price }}</div>
</li>
