<div class="cart-item">
  <div class="cart-left">
    <div class="cart-img">
      <img [src]="item.image" alt="" />
      <div class="cart-overlay">
        <div>{{ item.name }}</div>
        <div>{{ currency_symbol + " " }}{{ item.price }}</div>
      </div>
    </div>
  </div>

  <div class="cart-right">
    <!-- Product Name & Price -->
    <div class="cart-details">
      <h3>
        {{ item.name }} x <b>{{ item.quantity }}</b>
      </h3>
      <h3>{{ currency_symbol + " " }}{{ item.price }}</h3>
    </div>

    <!-- Actions (Quantity + Remove) -->

    <!-- Variations Section -->
    <div class="cart-variations" *ngFor="let variation of item?.variation">
      <div class="variation-title">
        <p>{{ variation?.type }}</p>
      </div>

      <!-- Only show if a selectedOption exists -->
      <div class="variation-item" *ngIf="variation?.selectedOption">
        <label>
          <div>
            <span>{{ variation?.selectedOption?.name }}</span>
          </div>
          <div class="d-flex gap-3">
            <span>{{ currency_symbol }} {{ variation?.selectedOption?.price }}</span>
            <input type="radio" disabled checked />
          </div>
        </label>
      </div>

      <!-- Fallback if no option selected -->
      <div class="filler" *ngIf="!variation?.selectedOption">
        No options selected.
      </div>
    </div>


  </div>
</div>