<div
  *ngIf="showThankYou"
  class="thank-you-container"
  [@fadeInOut]>
  <div class="thank-you-images">
    <div class="fl-18" data-aos="fade" data-aos-duration="1200">
      <img src="assets/img/fl-18.svg" alt="">
    </div>
    <div class="fl-19" data-aos="fade" data-aos-duration="1200">
      <img src="assets/img/fl-19.svg" alt="">
    </div>
    <div class="fl-20" data-aos="fade" data-aos-duration="1200">
      <img src="assets/img/fl-20.svg" alt="">
    </div>
  </div>
  <div class="thank-you-content">
    <h3 class="top-cont-1">Thank You!</h3>
    <p>We sincerely appreciate your support and hope you enjoy what we've prepared for you!</p>
  </div>
</div>
