<section class="sec-3">
  <div class="fl-15" data-aos="fade" data-aos-duration="1200">
     <img src="assets/img/fl-15.svg" alt="">
  </div>
  <div class="fl-16" data-aos="fade" data-aos-duration="1200">
     <img src="assets/img/fl-16.svg" alt="">
  </div>
  <div class="fl-17" data-aos="fade" data-aos-duration="1200">
     <img src="assets/img/fl-17.svg" alt="">
  </div>
  <div class="container">
     <div class="table-box">
        <div class="tb-head-sc mb-4">
           <div class="row">
              <div class="col-md-6">
                 <h3 class="mb-0">Table List</h3>
              </div>
              <div class="col-md-6">
                 <div class="th-btn-sc">
                    <div class="radio-container">
                       <!-- Delivery Radio Button -->
                       <label>
                       <input type="radio" name="floors" value="first-floor" id="first-floor" class="first-floor" checked>
                       <span class="radio-label">
                       <i class="bi bi-pin-map"></i> First Floor
                       </span>
                       </label>
                       <!-- Dining Radio Button -->
                       <label>
                       <input type="radio" name="floors" value="second-floor" id="second-floor" class="second-floor">
                       <span class="radio-label">
                       <i class="bi bi-shop"></i> Second Floor
                       </span>
                       </label>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="tabel-sc">
           <div class="row">
              <div class="col-md-3 mb-4">
                 <div class="tb-bx booked">
                    <div class="tb-img">
                       <span>T1</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T2</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T3</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T4</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T5</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T6</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T7</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
              <div class="col-md-3 mb-4">
                 <div class="tb-bx">
                    <div class="tb-img">
                       <span>T8</span>
                       <img src="assets/img/table.svg" alt="">
                    </div>
                    <button class="btn-prime" data-bs-toggle="modal" data-bs-target="#table-form">Select Table</button>
                 </div>
              </div>
           </div>
        </div>
        <div class="tb-bottom">
          <div class="row">
              <div class="col-md-9">
                  <div class="total-count">
                      <div class="count-tb">
                          <img src="assets/img/table-icn.svg" alt="">
                          table:
                          <input type="text" [(ngModel)]="selectedTable" style="width: 100px; margin-left: 16px;" />
                      </div>
                      <div class="count-tb">
                          <img src="assets/img/table-icn.svg" alt="">
                          Guest:
                          <input type="text" [(ngModel)]="selectedGuestCount" style="width: 50px; margin-left: 16px;" />
                      </div>
                      <div class="count-tb">
                        <img src="assets/img/table-icn.svg" alt="">
                        Date time:
                        <input type="date" [(ngModel)]="selectedDate" style="width: 100px; margin-left: 16px;" />
                        <input type="time" [(ngModel)]="selectedTime" style="width: 100px; margin-left: 16px;" />
                    </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="text-right">
                  <a href="#">
                      <button class="btn-prime w-100">
                          select and continue
                      </button>
                  </a>
                </div>
              </div>
          </div>
        </div>
     </div>
  </div>
</section>
