<div class="cart-item">
  <div class="cart-left">
    <div class="cart-img">
      <img [src]="item.image" alt="" />
      <div class="cart-overlay">
        <div>{{ item.name }}</div>
        <div>${{ item.price }}</div>
      </div>
    </div>
  </div>

  <div class="cart-right">
    <!-- Product Name & Price -->
    <div class="cart-details">
      <h3>{{ item.name }} x <b>{{ item.quantity}}</b></h3>
      <h3>${{item.price}}</h3>
 </div>

    <!-- Actions (Quantity + Remove) -->
    <div class="cart-actions">
      <div class="cart-count">
        <img src="assets/svg/circle-plus.svg" (click)="addQuantity(item)" />
        <!-- <input type="number" class="value" style="padding-left: 8px;" [value]="item.quantity" min="1" /> -->
        <img src="assets/svg/circle-minus.svg" (click)="removeQuantity(item)" />
      </div>
      <img class="cart-delete" src="assets/svg/trash.svg" (click)="removeItem(item)" />
    </div>

    <!-- Variations Section -->
    <div class="cart-variations" *ngFor="let vari of item?.variations">
      <div class="variations-list" *ngFor="let variation of vari">
        <p class="variation-title">{{ variation?.type }}</p>
        <div class="d-flex flex-column gap-2 ">
          <!-- [ngClass]="{'selected': option?.selected}" -->
          <div class="variation-item" *ngFor="let option of variation?.options">
            <label>
              <div>
                <span>{{ option?.name }}</span>
              </div>
              <div class="d-flex gap-3">
                <span>${{ option?.price }}</span>
                <input type="checkbox" [checked]="option?.selected" [(ngModel)]="option.selected"
                  (ngModelChange)="changeVariationSelection($event)" />
              </div>
            </label>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
