<section class="abt-second">
  <div class="container">
     <div class="row">
        <div class="col-md-6"  data-aos="fade-right" data-aos-duration="1200">
           <div class="abt-sc-cont">
              <h2>Fresh taste at a great <br> price, only for <br>
                 <span>Delicious Food lover.</span>
              </h2>
           </div>
        </div>
        <div class="col-md-6"  data-aos="fade-left" data-aos-duration="1200">
           <div class="abt-sc-cont-img text-center">
              <img src="assets/img/abt-sc.png" alt="">
           </div>
        </div>
     </div>
  </div>
</section>
