<section class="sc-2">
    <div class="container">
       <div class="booking-box" style="height: max-content;">
          <div class="fl-9"  data-aos="fade" data-aos-duration="1200">
             <img src="assets/img/fl-9.svg" alt="">
          </div>
          <div class="fl-10"  data-aos="fade" data-aos-duration="1200">
             <img src="assets/img/fl-10.svg" alt="">
          </div>
          <div class="book-sc">
             <h3 class="top-cont-1">We appreciate your time </h3>
             <h2 class="top-cont-2">Reminder <span>Alert</span></h2>
             <div class="row">
                 <div class="col-md-12 mb-2">
                   <div class="book-inp text-left" >
                      <label class="mb-2">Email</label> 
                      <input class="form-control" placeholder="Email" type="email" [(ngModel)]="formData.email">
                   </div>
                </div>
                <div class="col-md-12 mb-2">
                   <div class="book-inp">
                      <div class="btn-sc">                     
                         <label class="" style="height: 16px; width: 100%;"> </label>
                         <button class="btn-prime" (click)="formSubmit()" >
                          Send Code
                         </button>
                      </div>
                   </div>
                </div>              
             </div>
  
             <div class="row mt-4">
  
              <div class="col-12">
                 <label>If you are already registered to our website, <a href="javascript:void(0)" (click)="nav.push('/tabs/login')">Login Now</a></label>
              </div>
  
             </div>
          </div>
          <div class="fl-11"  data-aos="fade" data-aos-duration="1200">
             <img src="assets/img/fl-11.svg" alt="">
          </div>
          <div class="fl-12"  data-aos="fade" data-aos-duration="1200">
             <img src="assets/img/fl-12.svg" alt="">
          </div>
          <div class="fl-14" data-aos="fade" data-aos-duration="1200">
             <img src="assets/img/fl-14.svg" alt="">
          </div>
       </div>
    </div>
  </section>
  