.opening-hours-item {
  margin-bottom: 8px;
  line-height: 1.4;
  
  span {
    color: #fff;
    font-size: 14px;
  }
}

.opening-hours-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
    .ftr-top .col-md-3,
  .ftr-top .col-md-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .row.gy-3 {
    text-align: center;
    justify-content: center !important;
  }
  .footer .row.gy-3 > [class^="col-"] {
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
  }
  .footer .address,
  .footer .ftr-account,
  .footer .btn-account,
  .footer h4,
  .footer p,
  .footer a {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767.98px) {
  .ftr-top .ft-cont {
    text-align: center !important;
    width: 100%;
    margin: 0 auto;
  }
}