<footer id="footer" class="footer dark-background">
  <div class="fl-37" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-37.svg" alt="" />
  </div>
  <div class="fl-36" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-36.svg" alt="" />
  </div>
  <div class="fl-38" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-38.svg" alt="" />
  </div>

  <div class="container">
    <div class="ftr-top">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/img/ftr-logo.svg" alt="" />
        </div>
        <div class="col-md-6">
          <h3 class="ft-cont">
            Feel Hunger! Order Your <span>Like Food.</span>
          </h3>
        </div>
        <div class="col-md-3">
          <div class="btn-sc text-center">
            <a href="#">
              <button class="btn-prime">Order Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="address">
          <h4>Address</h4>
          <p class="mb-0">
          {{item?.address}}
          </p>
          <a href="#">view Google map</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div>
          <h4>Book a table</h4>
          <p class="mb-0">
            Dogfood och Sliders foodtruck. <br />
            Under Om oss kan ni läsa
          </p>
          <a href="#">Make A Call</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div>
          <h4>Opening Hours</h4>
          <p class="mb-0">
            <span *ngFor="let timing of item?.timings; let last = last">
              {{ timing.day }} <span>{{ formatTime(timing.start_time) }} - {{ formatTime(timing.end_time) }}</span>
              <br *ngIf="!last" />
            </span>
          </p>
          <a href="#">Make A Call</a>
        </div>

      </div>
      <div class="col-lg-3 col-md-6">
        <h4>Account</h4>
        <div class="ftr-account">
          <a  class="btn-account btn-login"
            (click)="navigateToLogin()" >Login</a
          >
          <a  class="btn-account btn-signup"
          (click)="navigateToSignup()" >Signup</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container copyright text-center mt-4">
    <p>© <span>2024</span> <span>{{item?.name}}</span></p>
  </div>
</footer>
