<footer id="footer" class="footer dark-background">
  <div class="fl-37" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-37.svg" alt="" />
  </div>
  <div class="fl-36" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-36.svg" alt="" />
  </div>
  <div class="fl-38" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-38.svg" alt="" />
  </div>

  <div class="container">
    <div class="ftr-top">
      <div class="row">
        <div class="col-md-3">
          <img [src]="logoUrl" alt=""  style="height: 165px; width: 65px;"/>
        </div>
        <div class="col-md-6">
          <h3 class="ft-cont">
            Feel Hunger! Order Your <span>Like Food.</span>
          </h3>
        </div>
        <div class="col-md-3">
          <div class="btn-sc text-center">
            <a (click)="navigateToMenu()">
              <button class="btn-prime" >Order Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="address">
          <h4>Address</h4>
          <p class="mb-0">
          {{footer?.address}}
          </p>
          <a href="#">view Google map</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div>
          <h4>Booking</h4>
          <!-- <a  class="btn-account btn-login" (click)="navigateToContact()">Make A Call</a> -->
          <a  class="btn-account btn-login" (click)="navigateToTable()">Book a Table</a>

        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div>
          <h4>Opening Hours</h4>
          <p class="mb-0">
            <span *ngFor="let timing of footer?.timings; let last = last">
              {{ timing.day }} <span>{{ formatTime(timing.start_time) }} - {{ formatTime(timing.end_time) }}</span>
              <br *ngIf="!last" />
            </span>
          </p>
        </div>

      </div>
      <div class="col-lg-3 col-md-6">
        <h4>Account</h4>
        <div class="ftr-account">
          <a  class="btn-account btn-login"
            (click)="navigateToLogin()" >Login</a
          >
          <a  class="btn-account btn-signup"
          (click)="navigateToSignup()" >Signup</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container copyright text-center mt-4">
    <p>© <span>{{currentYear}}</span> <span>{{footer?.name}}</span></p>
  </div>
</footer>
