<section class="sc-2 pb-0">
  <div class="container p-2">
    <div class="mn-box mb-0">
      <div class="d-flex justify-content-between flex-row">
        <h2>Address Book</h2>
        <div class="actions">
          <div class="backword-btn">
            previous
          </div>
          <div class="forward-btn">
            next
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <div class="book-inp">
            <label for="name">Add New Address</label>
            <input
              class="form-control"
              placeholder="Name"
              type="text"
              [(ngModel)]="address.name"
            />
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <div class="book-inp">
            <label for="name">City</label>
            <input
              class="form-control"
              placeholder="House No./Building Name"
              type="text"
              [(ngModel)]="address.city"
            />
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <div class="book-inp">
            <label for="name">States</label>
            <input
              class="form-control"
              placeholder="Area/Locality"
              type="text"
              [(ngModel)]="address.state"
            />
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <div class="book-inp">
            <label for="name">Country</label>
            <input
              class="form-control"
              placeholder="Pincode"
              type="text"
              [(ngModel)]="address.country"
            />
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <div class="book-inp">
            <div class="btn-sc">
              <label class="" style="height: 16px; width: 100%"> </label>
              <button class="btn-prime" (click)="formSubmit()">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
