<section class="sc-2 pb-0">
  <div class="container p-2">
    <div class="mn-box mb-0">
      <div class="d-flex justify-content-between align-items-center">
        <h2 style="display: flex; align-items: center; justify-content: space-between; gap: 16px;">
          Address Book
          <div class="add-btn btn-prime btn-update-67856" (click)="addNewAddress()">
            Add
          </div>
        </h2>

        <!-- Add Button -->

        <div class="d-flex align-items-center gap-3">
          <!-- Previous Button -->
          <div [className]="" class="backword-btn" (click)="prevSlide(swiperRef)">
            Previous
          </div>

          <!-- Next Button -->
          <div class="forward-btn " (click)="nextSlide(swiperRef)">Next</div>
        </div>
      </div>

      <swiper
        #swiperRef
        [slidesPerView]="1"
        [spaceBetween]="10"
        [navigation]="false"
        [pagination]="{ clickable: true }"
        [centeredSlides]="true"
        [loop]="false"
        style="overflow: hidden; width: 100%"
      >
        <ng-template swiperSlide *ngFor="let item of addresses; let i = index">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="book-inp">
                <label for="address">Address</label>
                <input
                  class="form-control"
                  placeholder="Address"
                  type="text"
                  [(ngModel)]="item.address"
                />
              </div>
            </div>
            <div class="col-md-12 mb-2">
              <div class="book-inp">
                <label for="city">City</label>
                <input
                  class="form-control"
                  placeholder="City"
                  type="text"
                  [(ngModel)]="item.city"
                />
              </div>
            </div>
            <div class="col-md-12 mb-2">
              <div class="book-inp">
                <label for="state">State</label>
                <input
                  class="form-control"
                  placeholder="State"
                  type="text"
                  [(ngModel)]="item.state"
                />
              </div>
            </div>
            <div class="col-md-12 mb-2">
              <div class="book-inp">
                <label for="country">Country</label>
                <input
                  class="form-control"
                  placeholder="Country"
                  type="text"
                  [(ngModel)]="item.country"
                />
              </div>
            </div>
            <div class="col-md-12 mb-2">
              <div class="book-inp">
                <div class="d-flex gap-2">
                  <button
                    class="btn-prime btn-update-67856"
                    (click)="formSubmit(item)"
                  >
                    Update
                  </button>
                  <button
                    class="btn-prime btn-update-67856"
                    (click)="delete(item)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</section>
