<header id="header" class="header d-flex align-items-center sticky-top">
   <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
         <img [src]="logoUrl" alt="">
      </a>

      <app-nav-menu-header [logoUrl]="logoUrl"></app-nav-menu-header>

      <div>
         <a class="user-icon-header" *ngIf="getUserRole() == 10" (click)="nav.push('/tabs/profile')" data-aos="fade" data-aos-duration="1000">
            <img src="/assets/img/user23.png" alt="">
         </a>

         <a class="cart-bx" (click)="nav.push('/tabs/cart')" data-aos="fade" data-aos-duration="1000" style="position: relative;">
            <span class="cart-count-head">{{ cartCounter | async }}</span>
            <img src="/assets/img/cart.png" alt="">
         </a>
      </div>

   </div>
   <!-- <div class="container position-relative d-flex align-items-center justify-content-between">
     
     <nav id="navmenu" class="navmenu">
        <ul>
           <li><a (click)="openLink('/tabs/home')" [class.active]="getActiveState('home')">Home<br></a></li>
           <li><a (click)="openLink('/tabs/todays-deals')" [class.active]="getActiveState('todays-deals')">today deals</a></li>
           <li><a (click)="openLink('/tabs/about-us')" [class.active]="getActiveState('about-us')">About</a></li>
           <li><a (click)="openLink('/tabs/products')" [class.active]="getActiveState('products')">Menu</a></li>
           <li><a (click)="openLink('/tabs/tables')" [class.active]="getActiveState('tables')">Table Booking</a></li>
           <li><a (click)="openLink('/tabs/contact-us')" [class.active]="getActiveState('contact-us')">Contact</a></li>
        </ul>

        <ul class="d-xl-none" #menuheader [style.display]="isMenuVisible ? 'block' : 'none'" style="height: 80vh;">
          <li><a (click)="openLink('/tabs/home')" [class.active]="getActiveState('home')">Home<br></a></li>
          <li><a (click)="openLink('/tabs/todays-deals')" [class.active]="getActiveState('todays-deals')">today deals</a></li>
          <li><a (click)="openLink('/tabs/about-us')" [class.active]="getActiveState('about-us')">About</a></li>
          <li><a (click)="openLink('/tabs/products')" [class.active]="getActiveState('products')">Menu</a></li>
          <li><a (click)="openLink('/tabs/tables')" [class.active]="getActiveState('tables')">Table Booking</a></li>
          <li><a (click)="openLink('/tabs/contact-us')" [class.active]="getActiveState('contact-us')">Contact</a></li>
       </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileMenu()"></i>
     </nav>
     
  </div> -->
</header>