.header {
  color: var(--default-color);
  background-color: #ffffff00;
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;
  position: fixed;
  width: 100%;
}
.header .logo {
  line-height: 1;
}
.header .logo img {
  max-height: 64px;
  margin-right: 8px;
}
.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
  font-family: var(--default-font);
}
.header .logo span {
  color: var(--accent-color);
  font-size: 36px;
}

.scrolled header {
  background: #000000e3;
  box-shadow: -1px 7px 6px 3px #0000001f;
}

.cart-count-head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  background: #fff;
  font-weight: 600;
  color: black;
  padding: 2px;
}

.user-icon-header {

  img {
    max-height: 48px;
  }

}