<section class="write-us">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="write-img">
          <img src="assets/img/contact-side.png" alt="" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="write-box">
          <h3>Write to us</h3>
          <form>
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="contact-input"
                placeholder="Name"
                [(ngModel)]="name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="contact-input"
                placeholder="Email"
                [(ngModel)]="email"
              />
            </div>
            <div class="form-group">
              <input
                type="tel"
                name="phone"
                class="contact-input"
                placeholder="Phone"
                [(ngModel)]="phone"
                (ngModelChange)="onPhoneInput()"
                [maxlength]="14"
                (keyup)="keyupPh($event)"
              />
            </div>

            <div class="form-group">
              <textarea
                name="message"
                class="contact-input"
                placeholder="Message"
                [(ngModel)]="message"
              ></textarea>
            </div>
            <div class="mt-2">
              <button class="btn-prime" (click)="contactUs()">
                Send A Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="cont-bx">
      <div class="row">
        <div class="col-md-4">
          <div class="contact-cont-bx">
            <div class="ccb-img">
              <img src="assets/img/c1.svg" alt="" />
            </div>
            <div class="ccb-cont">
              <h4>Phone Us 24/7</h4>
              <p>{{ data?.phone }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-cont-bx" style="height: auto; padding: 8px">
            <div class="ccb-img">
              <img src="assets/img/c1.svg" alt="" />
            </div>
            <div>
              <h4>Opening Hours</h4>
              <p class="mb-0 d-flex flex-column">
                <span *ngFor="let timing of data?.timings; let last = last">
                  {{ timing.day }}
                  <span>
                    {{ formatTime(timing.start_time) }} -
                    {{ formatTime(timing.end_time) }}
                  </span>
                  <br *ngIf="!last" />
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-cont-bx">
            <div class="ccb-img">
              <img src="assets/img/c2.svg" alt="" />
            </div>
            <div class="ccb-cont">
              <h4>Get Direction</h4>
              <p>{{ data?.address }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
