.home-top-banner {
    align-items: flex-start;
    min-height: 800px;
}

.hop-page-rew-6987 {
    margin-top: 60px;
}
@media (max-width: 767.98px) {
  .sc-cont h1 {
    text-align: center !important;
  }
}