<section class="sec-3">
  <div class="fl-15" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-15.svg" alt="" />
  </div>
  <div class="fl-16" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-16.svg" alt="" />
  </div>
  <div class="fl-17" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-17.svg" alt="" />
  </div>
  <div class="container">
    <div class="booking-box" data-aos="zoom-in-up" data-aos-duration="1300">
      <div class="fl-9" data-aos="fade" data-aos-duration="1200">
        <img src="assets/img/fl-9.svg" alt="" />
      </div>
      <div class="fl-10" data-aos="fade" data-aos-duration="1200">
        <img src="assets/img/fl-10.svg" alt="" />
      </div>
      <div class="book-sc">
        <h2 class="top-cont-2">Track Your <span>Order</span></h2>
        <div class="row">
          <div class="col-md-9">
            <div class="book-inp">
              <input
                class="form-control"
                placeholder="Order Number"
                type="text"
                [(ngModel)]="order_number"

              />
            </div>
          </div>


          <div class="col-md-3">
            <div class="book-inp">
              <div class="btn-sc text-left">
                <button class="btn-prime" (click)="track()" >
                  Track Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">

        </div>
      </div>
      <div class="fl-11" data-aos="fade" data-aos-duration="1200">
        <img src="assets/img/fl-11.svg" alt="" />
      </div>
      <div class="fl-12" data-aos="fade" data-aos-duration="1200">
        <img src="assets/img/fl-12.svg" alt="" />
      </div>
      <div class="fl-14" data-aos="fade" data-aos-duration="1200">
        <img src="assets/img/fl-14.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="add-to-sc">
      <div class="row">
        <div class="col-md-9">
          <div class="cart-box">
            <h3
              class="cart-heading d-flex justify-content-between align-items-center"
            >
              <h3 class="m-0 p-0">ORDER DETAILS | {{ data?.order_number }}</h3>
              <span
                class="badge fw-bold"
                [ngClass]="{
                  'badge-pending': data?.status === 'Pending',
                  'badge-confirmed': data?.status === 'Confirmed',
                  'badge-preparing': data?.status === 'Preparing',
                  'badge-ready-for-pickup': data?.status === 'Ready For Pickup',
                  'badge-out-for-delivery': data?.status === 'Out For Delivery',
                  'badge-delivered': data?.status === 'Delivered',
                  'badge-completed': data?.status === 'Completed',
                  'badge-cancelled': data?.status === 'Cancelled'
                }"
                >{{ data?.status }}</span
              >
            </h3>
            <div
              class="item-bx text-center"
              *ngIf="data?.products?.length == 0"
            >
              <img
                src="assets/img/delivery-img-inner.svg"
                class="mb-3"
                alt=""
              />
              <p>You haven’t added any items in bucket yet</p>
              <a href="/tabs/products">
                <button class="btn-prime">Explore Menu</button>
              </a>
            </div>
            <div
              class="cart-items-list d-flex flex-column gap-5"
              *ngIf="data?.products?.length > 0"
            >
              <div *ngFor="let item of data.products">
                <app-order-tracking-item [item]="item">
                </app-order-tracking-item>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="cart-box">
            <h3 class="mb-3">Order Details</h3>
            <div class="instructions">
              <p>Special Instructions (Optional)</p>
              <textarea
                name=""
                id=""
                class="int-field"
                [value]="data?.notes"
                readonly
              >
              </textarea>
              <p>Alternate Phone Number (3XXXXXXXXX)</p>
              <input
                type="number"
                name=""
                placeholder="Phone"
                id="phone1234567"
                class="int-field"
                [value]="data?.customer.phone"
                readonly
              />
              <p>Order Type</p>
              <input
                type="text"
                name=""
                placeholder="Phone"
                id="phone1234567"
                class="int-field"
                [value]="data?.order_type"
                readonly
              />
              <p>Payment Method</p>
              <input
                type="text"
                name=""
                placeholder="Phone"
                id="phone1234567"
                class="int-field"
                [value]="data?.payment_method"
                readonly
              />
              <p>Delivery Address</p>
              <textarea
                name=""
                id=""
                class="int-field"
                [value]="data?.delivery_address"
                readonly
              >
              </textarea>
            </div>

            <div class="instructions">
              <h3>Your Order</h3>
              <ul>
                <li>
                  <div class="left-item">Sub Total :</div>
                  <div class="right-item">Rs :{{ data?.total_price }}</div>
                </li>
                <li>
                  <div class="left-item">Delivery Fee :</div>
                  <div class="right-item">Rs 0</div>
                </li>
                <li>
                  <div class="left-item">GST ( NaN % ) :</div>
                  <div class="right-item">Rs 0</div>
                </li>
              </ul>

              <!-- Total Price and Split Bill Section -->
              <div class="checkout-bar">
                <span
                  >{{ data?.products?.length }} Items | Rs:
                  {{ data?.total_price }}</span
                >
              </div>
            </div>
          </div>

          <div class="split-bill-section mt-3">
            <p class="mb-2">Split Bills</p>

            <input
              type="number"
              name="perHead"
              placeholder="Enter number of people"
              id="splitInput"
              class="int-field"
              [(ngModel)]="perHead"
              (ngModelChange)="update()"
            />

            <button
              *ngIf="perHead > 0 && !split_Bill"
              class="btn btn-danger mt-3"
              (click)="splitBill()"
            >
              Split Bill
            </button>

            <div *ngIf="split_Bill && total !== null && !isTotalInvalid">
              <p class="mt-3">Amount per head: Rs {{ total }}</p>
            </div>
            <div *ngIf="split_Bill && total !== null && isTotalInvalid">
              <p class="mt-3">Invalid input. Please enter valid numbers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
