<section class="sc-1 inner">

  <div class="fl-5 animated-2" data-aos="zoom-in-up" data-aos-duration="1200">
    <img src="assets/img/2.png" alt="" />
  </div>
  <div class="fl-6" data-aos="zoom-in-up" data-aos-duration="1300">
    <img src="assets/img/9.png" alt="" />
  </div>
  <div class="fl-26" data-aos="zoom-in-up" data-aos-duration="1300">
    <img src="assets/img/fl-26.svg" alt="" />
  </div>
</section>
<section class="sec-3">
  <div class="fl-15" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-15.svg" alt="" />
  </div>
  <div class="fl-16" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-16.svg" alt="" />
  </div>
  <div class="fl-17" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-17.svg" alt="" />
  </div>
  <div class="container">
    <div class="add-to-sc">
      <div class="row">
        <div class="col-md-9">
          <div class="cart-box">
            <h3>Items From Your Cart</h3>
            <div class="item-bx text-center" *ngIf="cartItems.length == 0">
              <img
                src="assets/img/delivery-img-inner.svg"
                class="mb-3"
                alt=""
              />
              <p>You haven’t added any items in bucket yet</p>
              <a href="/tabs/products">
                <button class="btn-prime">Explore Menu</button>
              </a>
            </div>
            <div class="cart-items-list" *ngIf="cartItems.length > 0">
              <ul>
                <app-order-tracking-item *ngFor="let item of cartItems" [item]="item"></app-order-tracking-item>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="cart-box">
            <h3 class="mb-3">Order Details</h3>
            <div class="instructions">
              <p>Special Instructions (Optional)</p>
              <textarea name="" id="" class="int-field"> </textarea>
              <p>Alternate Phone Number (3XXXXXXXXX)</p>
              <input
                type="number"
                name=""
                placeholder="Phone"
                id="phone1234567"
                class="int-field"
                required
                [(ngModel)]="phone"
              />
            </div>
            <div class="instructions">
              <h3>Your Order</h3>
              <ul>
                <li>
                  <div class="left-item">Sub Total :</div>
                  <div class="irght-item">Rs 0</div>
                </li>
                <li>
                  <div class="left-item">Delivery Fee :</div>
                  <div class="irght-item">Rs 0</div>
                </li>
                <li>
                  <div class="left-item">GST ( NaN % ) :</div>
                  <div class="irght-item">Rs 0</div>
                </li>
              </ul>
              <div class="checkout-bar">
                <span>0 Items | Rs 0</span>
                <button (click)="makeOrder()">Check Out</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
