<div class="prod-box">
  <div class="prod-img">
     <img [src]="item.image" alt="">
  </div>
  <div class="prod-cont" [class.booked]="carte.isItemInCart(item)">
     <a href="#">
        <h3 class="prod-tittle">{{ item.name }}</h3>
     </a>
     <p class="prod-disc">{{ item.description }}</p>
     <h6 class="prod-price">price :<span> ${{item.price}}</span></h6>
     <a href="javascript:void(0)" class="prod-btn" (click)="addToCart(item)">
       {{ carte.isItemInCart(item) ? 'Added to cart' : 'Add to cart' }}
     </a>
  </div>
</div>
