:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Poppins", sans-serif;
  --nav-font: "Inter", sans-serif;
}
:root {
  --background-color: #ffffff;
  --default-color: #212529;
  --heading-color: #37373f;
  --accent-color: #ce1212;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}
:root {
  --nav-color: #7f7f90;
  --nav-hover-color: #ce1212;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #7f7f90;
  --nav-dropdown-hover-color: #ce1212;
}
:root {
  scroll-behavior: smooth;
}
