<section class="sec-4">
  <div class="fl-21" data-aos="fade-right" data-aos-duration="1200">
    <img src="assets/img/fl-21.svg" alt="" />
  </div>
  <div class="fl-22" data-aos="fade-left" data-aos-duration="1200">
    <img src="assets/img/fl-22.svg" alt="" />
  </div>
  <div class="container">
    <div class="sc-head text-center mb-5">
      <h3 class="top-cont-1" data-aos="fade" data-aos-duration="1200">
        Why Choose US?
      </h3>
      <h2 class="top-cont-2 mb-3" data-aos="fade" data-aos-duration="1200">
        Best Quality
        <span
          >item <br />
          Ingredients</span
        >
      </h2>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="pd-dt-bx" data-aos="fade" data-aos-duration="1200">
          <h3>Moist Sour Cream Bread</h3>
          <p>Shrimp, Squid, Pineapple</p>
          <h6>price :{{ currency_symbol }} 15.00</h6>
        </div>

        <div class="pd-dt-bx" data-aos="fade" data-aos-duration="1200">
          <h3>Moist Sour Cream Bread</h3>
          <p>Shrimp, Squid, Pineapple</p>
          <h6>price :{{ currency_symbol }} 15.00</h6>
        </div>
      </div>
      <div class="col-md-6">
        <div class="burger-dt">
          <img
            src="assets/img/burger-center.svg"
            alt=""
            data-aos="fade"
            data-aos-duration="1200"
          />

          <div class="plus-icon plus-1">
            <img
              src="assets/img/plus-1.svg"
              class=""
              alt=""
              data-aos="fade-left"
              data-aos-duration="1200"
            />
          </div>
          <div class="plus-icon plus-2">
            <img
              src="assets/img/plus-2.svg"
              class=""
              alt=""
              data-aos="fade-right"
              data-aos-duration="1200"
            />
          </div>
          <div class="plus-icon plus-3">
            <img
              src="assets/img/plus-1.svg"
              class=""
              alt=""
              data-aos="fade-left"
              data-aos-duration="1200"
            />
          </div>
          <div class="plus-icon plus-4">
            <img
              src="assets/img/plus-2.svg"
              class=""
              alt=""
              data-aos="fade-right"
              data-aos-duration="1200"
            />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="pd-dt-bx" data-aos="fade" data-aos-duration="1200">
          <h3>Moist Sour Cream Bread</h3>
          <p>Shrimp, Squid, Pineapple</p>
          <h6>price :{{ currency_symbol }} 15.00</h6>
        </div>

        <div class="pd-dt-bx" data-aos="fade" data-aos-duration="1200">
          <h3>Moist Sour Cream Bread</h3>
          <p>Shrimp, Squid, Pineapple</p>
          <h6>price :{{ currency_symbol }} 15.00</h6>
        </div>
      </div>
    </div>
  </div>
</section>
