<section class="sec-3">
  <div class="fl-15" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-15.svg" alt="">
  </div>
  <div class="fl-16" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-16.svg" alt="">
  </div>
  <div class="fl-17" data-aos="fade" data-aos-duration="1200">
    <img src="assets/img/fl-17.svg" alt="">
  </div>
  <div class="container">
    <div class="fod-head text-center">
      <h3 class="top-cont-1">Food Items</h3>
      <h2 class="top-cont-2">popular <span>dishes</span></h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="menu-item-sidebar">
          <div class="mn-box">
            <h3>View Full Menu</h3>
            <ul class="mn-list">
              <li *ngFor="let category of categories" >
                <a (click)="getProductsByCategory(category.id)">
                  <img [src]="category.image" alt=""> <span>{{ category.name }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="product-sc">
          <div class="row">
            <div class="col-md-4" *ngFor="let product of filteredProducts">
              <app-product-box [item]="product"></app-product-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
