<section class="sec-3 ">
  <div class="fl-15" data-aos="fade" data-aos-duration="1200">
     <img src="assets/img/fl-15.svg" alt="">
  </div>
  <div class="fl-16" data-aos="fade" data-aos-duration="1200">
     <img src="assets/img/fl-16.svg" alt="">
  </div>
  <div class="fl-17" data-aos="fade" data-aos-duration="1200">
     <img src="assets/img/fl-17.svg" alt="">
  </div>
  <div class="container">
     <div class="fod-head text-center">
        <h3 class="top-cont-1">food items</h3>
        <h2 class="top-cont-2">Today <span>Deals</span></h2>
     </div>
     <div class="product-sc">
        <div class="row">
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="#" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="prod-box">
                 <div class="prod-img">
                    <img src="assets/img/prod-item.svg" alt="">
                 </div>
                 <div class="prod-cont">
                    <a href="#">
                       <h3 class="prod-tittle">Garlic Burger</h3>
                    </a>
                    <p class="prod-disc">It is a long established fact that a reader BBQ food Chicken.</p>
                    <h6 class="prod-price">price :<span>$15.00</span></h6>
                    <a href="add_to_cart.html" class="prod-btn">
                    + Add to Cart
                    </a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
