<section class="about-main">
  <div class="fl-40"  data-aos="fade-right" data-aos-duration="1200">
     <img src="assets/img/5.png" alt="">
  </div>
  <div class="container">
     <div class="row">
        <div class="col-md-6"  data-aos="fade-right" data-aos-duration="1200">
           <div class="abt-main-img text-center">
              <img style="width: 600px; height: 399px;" src="assets/img/mulberry-placeholder.png" alt="">
           </div>
        </div>
        <div class="col-md-6"  data-aos="fade-left" data-aos-duration="1200">
           <div class="abt-main-cont">
              <h3 class="top-cont-1">About Us</h3>
              <h2 class="top-cont-2 mb-2"> About the Berry Cafe <br><span> The MulBerry Fruit</span></h2>
               <p>
                The owner was inspired by the mulberry fruit trees and built a farm for health and longevity. All mixed drinks are made with fresh mulberries from the farm.<br>
                With the help of family and friends, the owner decided to bring happiness and health to the people in the community.
              </p>

              <div class="abt-tabs mt-4">
                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="History-tab" data-bs-toggle="tab" data-bs-target="#History" type="button" role="tab" aria-controls="History" aria-selected="true">History</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="Journey-tab" data-bs-toggle="tab" data-bs-target="#Journey" type="button" role="tab" aria-controls="Journey" aria-selected="false">Journey</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="Experience-tab" data-bs-toggle="tab" data-bs-target="#Experience" type="button" role="tab" aria-controls="Experience" aria-selected="false">Experience</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="History" role="tabpanel" aria-labelledby="History-tab">
                       <div class="abt-main-tab-cont">
                          <p>
                            Our food in the cafe was specially crafted for all ages. We make sure they are well prepared, fresh and hygienic. We designed a cozy and comfortable dining experience. We listen to our customers and treat them like family.
                          </p>
                          <div class="abt-sign">
                            
                             <span class="abt-tb-btn">
                                <a href="#" >
                                   <button class="btn-prime">
                                      All Items
                                   </button>
                                </a>
                             </span>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="Journey" role="tabpanel" aria-labelledby="Journey-tab">...</div>
                    <div class="tab-pane fade" id="Experience" role="tabpanel" aria-labelledby="Experience-tab">...</div>
                  </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
