<section class="about-main">
  <div class="fl-40"  data-aos="fade-right" data-aos-duration="1200">
     <img src="assets/img/5.png" alt="">
  </div>
  <div class="container">
     <div class="row">
        <div class="col-md-6"  data-aos="fade-right" data-aos-duration="1200">
           <div class="abt-main-img text-center">
              <img src="assets//img/about-side.png" alt="">
           </div>
        </div>
        <div class="col-md-6"  data-aos="fade-left" data-aos-duration="1200">
           <div class="abt-main-cont">
              <h3 class="top-cont-1">About Us</h3>
              <h2 class="top-cont-2 mb-2">The Story about Food khan, only for <br><span>hungry people.</span></h2>
              <p>Food is a restaurant, bar and coffee roastery located on a busy <br> corner site in Farringdon's Exmouth Market. With glazed.</p>

              <div class="abt-tabs mt-4">
                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="History-tab" data-bs-toggle="tab" data-bs-target="#History" type="button" role="tab" aria-controls="History" aria-selected="true">History</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="Journey-tab" data-bs-toggle="tab" data-bs-target="#Journey" type="button" role="tab" aria-controls="Journey" aria-selected="false">Journey</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="Experience-tab" data-bs-toggle="tab" data-bs-target="#Experience" type="button" role="tab" aria-controls="Experience" aria-selected="false">Experience</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="History" role="tabpanel" aria-labelledby="History-tab">
                       <div class="abt-main-tab-cont">
                          <p>Food is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon's Exmouth Market. With glazed.</p>
                          <div class="abt-sign">
                             <span class="sign-bar"></span>
                             <span class="sing-img">
                                <img src="assets/img/sign.svg" alt="">
                             </span>
                             <span class="sign-name">Head of chef</span>
                             <span class="abt-tb-btn">
                                <a href="#" >
                                   <button class="btn-prime">
                                      All Items
                                   </button>
                                </a>
                             </span>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="Journey" role="tabpanel" aria-labelledby="Journey-tab">...</div>
                    <div class="tab-pane fade" id="Experience" role="tabpanel" aria-labelledby="Experience-tab">...</div>
                  </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
