<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="cart-box">
        <!-- Header Row with Search Input -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h3 class="mb-0">Table Booking History</h3>
          <input
            type="text"
            class="form-control w-25"
            placeholder="Search Orders..."
            [(ngModel)]="searchText"
            (ngModelChange)="search($event)"
          />
        </div>

        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Booking No.</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">No. of Guests</th>
              <th scope="col">Restaurant</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings">
              <td>{{ booking?.order_number }}</td>
              <td>
                {{ booking?.booking_start.split(" ")[0] }}
              </td>
              <td>{{ booking?.booking_start.split(" ")[1] }}</td>
              <td>{{ booking?.no_of_seats }}</td>
              <td>{{ booking?.restaurant.name }}</td>
              <td>{{ booking?.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
