<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="cart-box">
                <h3 class="mb-3">Table Booking History</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Booking No.</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">No. of Guests</th>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let booking of bookings">
                            <td>{{ booking.booking_number }}</td>
                            <td>{{ booking.date | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ booking.time }}</td>
                            <td>{{ booking.guest_count }}</td>
                            <td>{{ booking.restaurant.name }}</td>
                            <td>{{ booking.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>