<section class="about-sc">
  <div class="container">
     <div class="row">
        <div class="col-md-3"  data-aos="fade-up" data-aos-duration="1200">
           <div class="abt-box abt-1">
              <img src="assets/img/abt-fl-1.svg" alt="" class="abt-fl-1">
              <img src="assets/img/abt-fl-2.svg" alt="" class="abt-fl-2">
              <div>
                 <div class="abt-img">
                    <img src="assets/img/abt-1.svg" alt="">
                 </div>
                 <div class="abt-cont">
                    <h3>2000+</h3>
                    <p>Food Items</p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-3"  data-aos="fade-up" data-aos-duration="1400">
           <div class="abt-box abt-2">
              <img src="assets/img/abt-fl-1.svg" alt="" class="abt-fl-1">
              <img src="assets/img/abt-fl-2.svg" alt="" class="abt-fl-2">
              <div>
                 <div class="abt-img">
                    <img src="assets/img/abt-2.svg" alt="">
                 </div>
                 <div class="abt-cont">
                    <h3>2000+</h3>
                    <p>Food Items</p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-3"  data-aos="fade-up" data-aos-duration="1600">
           <div class="abt-box abt-3">
              <img src="assets/img/abt-fl-1.svg" alt="" class="abt-fl-1">
              <img src="assets/img/abt-fl-2.svg" alt="" class="abt-fl-2">
              <div>
                 <div>
                    <div class="abt-img">
                       <img src="assets/img/abt-3.svg" alt="">
                    </div>
                    <div class="abt-cont">
                       <h3>2000+</h3>
                       <p>Food Items</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-3"  data-aos="fade-up" data-aos-duration="1800">
           <div class="abt-box abt-4">
              <img src="assets/img/abt-fl-1.svg" alt="" class="abt-fl-1">
              <img src="assets/img/abt-fl-2.svg" alt="" class="abt-fl-2">
              <div>
                 <div class="abt-img">
                    <img src="assets/img/abt-4.svg" alt="">
                 </div>
                 <div class="abt-cont">
                    <h3>2000+</h3>
                    <p>Food Items</p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
