<section class="about-sc">
  <div class="container">
    <div class="row justify-content-center">
      <ng-container *ngIf="data.length > 4; else noSwiper">
        <swiper
          [slidesPerView]="4"
          [spaceBetween]="20"
          [navigation]="false"
          [pagination]="{ clickable: true }"
          [centeredSlides]="true"
          [loop]="true"
          [breakpoints]="{
            '320': { slidesPerView: 1 },
            '768': { slidesPerView: 2 },
            '1024': { slidesPerView: 4 }
          }"
          style="overflow: hidden"
        >
          <ng-template swiperSlide *ngFor="let item of data; let i = index">
            <div>
              <div
                [ngClass]="{
                  'abt-box': true,
                  'abt-1': i % 2 === 0,
                  'abt-2': i % 2 !== 0
                }"
              >
                <div>
                  <div
                    class="abt-img"
                    style="
                      width: 150px;
                      height: 150px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin: 0 auto;
                    "
                  >
                    <img
                      [src]="item?.image"
                      alt=""
                      style="
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                      "
                    />
                  </div>
                  <div class="abt-cont">
                    <h3>{{ item?.name }}</h3>
                    <p>{{ item?.products_count }}+ Items</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </ng-container>

      <!-- Show regular layout if items are 4 or fewer -->
      <ng-template #noSwiper>
        <div *ngFor="let item of data; let i = index" class="col-md-3">
          <div
            [ngClass]="{
              'abt-box': true,
              'abt-1': i % 2 === 0,
              'abt-2': i % 2 !== 0
            }"
          >
            <div>
              <div
                class="abt-img"
                style="
                  width: 150px;
                  height: 150px;
                  border-radius: 50%;
                  overflow: hidden;
                  margin: 0 auto;
                "
              >
                <img
                  [src]="item?.image"
                  style="
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                  "
                  alt=""
                />
              </div>
              <div class="abt-cont">
                <h3>{{ item?.name }}</h3>
                <p>{{ item?.products_count }}+ Items</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
