<section class="about-sc">
  <div class="container">
    <div class="row">
      <div
        *ngFor="let item of data; let i = index"
        class="col-md-3"
        data-aos="fade-up"
        data-aos-duration="1200"
      >
        <div
          [ngClass]="{
            'abt-box': true,
            'abt-1': i % 2 === 0,
            'abt-2': i % 2 !== 0
          }"
        >
          <div>
            <div class="abt-img">
              <img [src]="item?.image" alt="" />
            </div>
            <div class="abt-cont">
              <h3>{{ item?.name }}</h3>
              <p>{{ item?.products_count }}+ Items</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
